name: myOwnCI
on: push
jobs:
    job1:
        name: First job
        runs-on: ubuntu-latest
        steps:
        - name: Step one
          uses: actions/checkout@v2
        - name: Step two
          run: env | sort
    job2:
        name: Windows job
        runs-on: windows-latest
        steps:
        - name: Step one
          uses: actions/checkout@v2
        - name: Step two
          run: "Get-ChildItem Env: | Sort-Object Name"
    job3:
        name: Macos job
        runs-on: macos-latest
        steps:
        - name: Step one
          uses: actions/checkout@v2
        - name: Step two
          run: echo "Hello from macos runner"